<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <h2>Authgo</h2>
  <h3>Login</h3>
  <form method="POST" action="/login">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login">
  </form>
  <a href="/register"><button>Don't have an account? Register</button></a>
</body>

</html>